<div class="card">
  <div class="card-body">
    <a href="/admin/category"><button class="btn btn-secondary col-md-12">Criar  uma categoria</button></a>
    <a href="/admin/postagens"><button class="btn btn-info col-md-12 mt-3">Criar uma Postagem</button></a>
  </div>
</div>
